@{
    ViewData["Title"] = "Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
</div>
<br /><br />
<img src="~/img/joel.jpg">
<br />
<p>This guy really likes movies.</p>