@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<br /><br />
<h4>Learn more about the creator and owner of this great movie collection!</h4>
<br />
<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
<br /><br />
<a href="https://baconsale.com/">Baconsale site</a>
<br /><br />
<a href="https://baconsale.com/"><img src="~/img/joel2.jpg" width="400" /></a>

